Django>=4.2,<5.0
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-celery-beat
channels
channels-redis
celery[redis]
psycopg2-binary
pgvector
langchain
langchain-community
langchain-text-splitters
langchain-aws
python-dotenv
daphne
whitenoise
requests
beautifulsoup4
boto3
playwright
lxml
